<h1>
  Moto Cafe is Awesome!
</h1>
<h2>
  Moto Cafe has 1 location 1 story down and 100 feet away from where I was sitting when I typed this!
</h2>
<h2>
  <% if session[:password] %>
    <%= link_to "Reset", logout_path %>
  <% else %>
    <%= link_to "administrator", login_path %>
  <% end %>
</h2>
