<h1>
  Moto Cafe is Awesome!
</h1>
<%= link_to("Log Out", logout_path) if admin? %>
<div id='slider'>
  <ul>
    <li style='display:block'><div>1</div></li>
    <li style='display:none'><div>2</div></li>
    <li style='display:none'><div>3</div></li>
    <li style='display:none'><div>4</div></li>
    <li style='display:none'><div>5</div></li>
    <li style='display:none'><div>6</div></li>
  </ul>
</div>
