

body {
  background: #99ccff;
  font-size: 200%;
  text-align: center;
}

header {
  padding: 20px;
  font-size: 300%;
  text-align: center;
  font-weight: bold;
  background-color: #6699cc;
  color: #fff;
  border-style: solid;
  border-width: 10px;
  border-color: #336699;
}

h1 {
  font-size: 200%;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

a:active {
  color: #ccc;
}

ul {
  display: table;
  width: 100%;
  padding: 20px 20px;
  list-style: none;
}
ul li {
  border-width: 10px;
  border-style: double solid;
  border-color: #6699cc;
  margin: 20px 0;
  padding: 0 20px;
  font-size: 250%;
}
ul li descr {
  font-size: 70%;
  font-style: italic;
}
nav {
  background-color: #333333;
  white-space: nowrap;
  padding: 0 0;
}

nav ul {
  padding: 0;
  display: table;
}

nav ul li {
  border-width: 0;
  display: table-cell;
  padding: .2em .7em;
  
}

nav ul li:hover {
  background: #000;
}

.navigation_bar {
  float: bottom;
  font-weight: bold;
  font-size: 90%;
}

 .category {
  font-weight: bold;
  font-size: 45%;
}

delete {
  display: block;
  font-size: 150%;
  font-weight: bold;
  background: #cc0000;
  border-style: solid;
  border-width: 20px;
  border-color: #993333;
}
delete:hover {
  background: #990000;
}

table td{
  text-align: left;
  padding-top: 15px;
}
table a {
  color: #0000CC;
}

table a:hover {
  color: #000066;
  text-decoration: underline;
}

div.field {
  font-size: 200%;
  float: left;
  display: inline-block
}

.name_text_field {
  height: 80px;
  width: 500px;
  font-size: 80%;
}
.price_text_field {
  height: 80px;
  width: 150px;
  font-size: 70%;
}

.description_text_field {
  width: 550px;
  height: 60px;
  font-size: 60%;
}

.time_select {
  font-size: 100%;
}

.menu_item_radio_button {
  width: 50px;
  height: 50px;
  display: block;
  clear: left;
  float: left;
}

th {
  text-align: left;
  padding: 0 2em;
  background: #333;
  color: #fff;
}
