head{
  visibility: visible;
}

body {
  visibility: hidden;
  text-align: center;
  width:100%;
  height: 100%;
  background:#DDD;
  margin-left:auto;
  margin-right:auto;
}
body[orient="landscape"] {
  width:100%;
}
html {
  height: 100%;
}

.header {
  top:0;
	color: white;
  font-size:130%;
  padding: 8px;
	margin-bottom:10px;
  text-align: center;
	background: #7FBB00;
  z-index:99;
	width:100%;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.4);
}

#content {
  border: solid 1px rgba(0,0,0,.4);
	background: #FFF;
  border-top:none;
  border-bottom:none;
}

a:hover {
  cursor:pointer;
  background:transparent;
}
h1 {
  margin-bottom: 2px;
	padding:3px;
  font-size: 20px;
	color: #333;
	background-image: linear-gradient(bottom, rgb(207,207,207) 0%, rgb(242,242,242) 58%);
	background-image: -o-linear-gradient(bottom, rgb(207,207,207) 0%, rgb(242,242,242) 58%);
	background-image: -moz-linear-gradient(bottom, rgb(207,207,207) 0%, rgb(242,242,242) 58%);
	background-image: -webkit-linear-gradient(bottom, rgb(207,207,207) 0%, rgb(242,242,242) 58%);
	background-image: -ms-linear-gradient(bottom, rgb(207,207,207) 0%, rgb(242,242,242) 58%);

	background-image: -webkit-gradient(
		linear,
			left bottom,
				left top,
					color-stop(0, rgb(207,207,207)),
						color-stop(0.58, rgb(242,242,242))
						);
}

h2 {
  font-weight: bold;
	padding:2px;
  box-shadow: 0 3px 4px 0  rgba(0,0,0,.4);
  margin-bottom: 5px;
	background-image: linear-gradient(bottom, rgb(237,186,0) 45%, rgb(255,225,89) 85%);
	background-image: -o-linear-gradient(bottom, rgb(237,186,0) 45%, rgb(255,225,89) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(237,186,0) 45%, rgb(255,225,89) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,186,0) 45%, rgb(255,225,89) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(237,186,0) 45%, rgb(255,225,89) 85%);

	background-image: -webkit-gradient(
		linear,
			left bottom,
				left top,
					color-stop(0.45, rgb(237,186,0)),
						color-stop(0.85, rgb(255,225,89))
						);
}

table {
  width: 100%;
  border: none;
}
td {
  text-align: center;
  padding: 10px 10px;
  border: none;
  margin: 0;
}

ul {
  text-align: left;
  width: 100%;
  padding: 0;
}

li {
  cursor: default;
  list-style: none;
  padding: 10px;
  margin: 15px;
	border: solid 1px rgba(0,0,0,.2);
	background-image: linear-gradient(bottom, rgb(237,186,0) 45%, rgb(255,225,89) 85%);
	background-image: -o-linear-gradient(bottom, rgb(237,186,0) 45%, rgb(255,225,89) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(237,186,0) 45%, rgb(255,225,89) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,186,0) 45%, rgb(255,225,89) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(237,186,0) 45%, rgb(255,225,89) 85%);

	background-image: -webkit-gradient(
		linear,
			left bottom,
				left top,
					color-stop(0.45, rgb(237,186,0)),
						color-stop(0.85, rgb(255,225,89))
						);
}
li.item-name.selected {
  background: #d4a200;
}
.navigation-bar {
  width: 100%;
  font-weight: bold;
  display:table;
  bottom:0;
  z-index:1000;
}

.nav_item {
  color:#ccc;
  display:table-cell;
  background-color: #333;
  cursor:pointer;
  padding:10px;
}

.nav_item:hover {
  background: #222;
  color:#fff;
}

p {
  font-style: italic;
}

.sticky {
  position: fixed;
}

.scrollable {
  overflow-x:hidden;
  max-height:inherit;
}

.max-height {
  height: 100%;
  width:100%;
}

.floaty-box {
	padding:0 5px;
  overflow:hidden;
}

.frame {
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;
  padding: 5px;
}

.description {
  text-align: left;
  margin: 10px;
  padding: 5px;
  box-shadow: 1px 2px 3px 2px rgba(0,0,0,.4);
}

.item-names {
  text-align:left;
  width: 40%;
}

 .category {
  font-weight: bold;
}

.delete {
  background: #cc0000;
}
proceed a:hover {color: #ccc;}
other a:hover {color: #ccc;}
proceed {background:#33CC33;border-color:#009900}
other {background:#CCCC00;border-color:#999933;}
delete:hover {background: #990000;}
proceed:hover {background: #006600;}
other:hover {background: #666600;}

.field {
  width: 100%;
  padding:0;
}

.dim {
  background-color: #AAA !important;
	background-image: none;
  box-shadow:none;
}

div.out_of_stock {
  cursor:default;
  display: inline-block;
  background: #fff;
  border-style: solid;
  border-width: 10px;
  border-color: #CC0033;
  font-weight: bold;
  color: #CC0033;
  margin:auto;
}

div.out_of_stock:hover {
  background: #aaa;
  border-color: #aa0011;
}
div.in_stock {
  cursor:default;
  display: inline-block;
  background: #fff;
  border-style: solid;
  border-width: 10px;
  border-color: #009966;
  font-weight: bold;
  color: #009966;
  margin: auto;
}
div.in_stock:hover {
  background: #aaa;
  border-color: #007744;
}
div.disabled {
  cursor:default;
  display: inline-block;
  background: #aaa;
  border-style: solid;
  border-width: 8px;
  border-color: #999;
  font-weight: bold;
  color: #555;
  margin:auto;
}

div.disabled a {
  font-color: white;
}

div.disabled:hover {
  background: #fff;
  border-color:#bbb;
}
hidden {
  display:none;
}
.hidden {
  display:none;
}
.flash {
  position:absolute;
  top:0;
  z-index:1000;
}

.post {
  border-radius:3px;
  -moz-border-radius:3px;
  margin-left:5%;
  margin-right:5%;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.4);
}

.question {
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  -moz-border-top-left-radius:5px;
  -moz-border-top-right-radius:5px;
  border-bottom: solid 1px #a3b3bd;
  background:#fff;
  padding: 10px;
}

.response {
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  -moz-border-bottom-left-radius:5px;
  -moz-border-bottom-right-radius:5px;
	background: #BFFB90;
  padding:10px;
}

.link {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: default;
  display: inline-block;
  font-weight: bold;
  line-height: 29px;
  padding: 0 8px;
  text-align: center;
  text-decoration: none !important;
  -webkit-user-select: none;
  text-wrap:unrestricted;

  border: 1px solid rgba(0,0,0,.1);
  background-color: #F2F2F2;
  color: #444;
  font-size: 11px;
}

.link:hover {
  background-color: #F6F6F6;
  border-color: #C6C6C6;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  color: #222;
}

.link:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color:#CCC;
}

.option {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  display: inline-block;
  line-height: 29px;
  padding: 6px;
  text-align: center;
  text-decoration: none !important;
  -webkit-user-select: none;
  text-wrap:unrestricted;
  margin:4px;
  border: 1px solid rgba(0,0,0,.1);
  background-color: #FFFFFF;
  color: #444;
  font-size: 11px;
}

.page-divider {
  display:table-cell;
  vertical-align:top;
  overflow:hidden;
  word-wrap:break-word;
}

#how-to-order {
  top:20%;
  left:50%;
  margin-left: -155px;
  position: fixed;
  width:300px;
  display:none;
}

.tab {
  -webkit-border-top-left-radius: 6px;
  -moz-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
