head{
  visibility: visible;
}

body {
  visibility: visible;
  background: #fff;
  text-align: center;
  width: 700px;
  background: #6699cc;
  margin-left:auto;
  margin-right:auto;
}

.header {
  font-size: 250%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: #6699cc;
  border-style: solid;
  border-width: 10px;
  border-color: #336699;
}

h1 {
  color: #eee;
  border-bottom: 5px solid #225588;
}

h2 {
  font-weight: bold;
  background: #e3c542;
  box-shadow: 0 0 4px 4px #b7a420;
  margin-bottom: 5px;
}

a {
  cursor: pointer;
  color: #eee;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

a:active {
  color: #fff;
}

table {
  width: 100%;
  border: none;
}
td {
  text-align: center;
  padding: 10px 10px;
  border: none;
  margin: 0;
}

ul {
  text-align: left;
  width: 100%;
  padding: 0;
}

li {
  cursor: default;
  list-style: none;
  padding: 10px;
  margin: 15px;
  border-style: solid;
  border-width: medium;
  border-color: #05cd05;
  width: 200px;
  background: #2af52a;
  box-shadow: 1px 1px 3px 3px #4477aa;
}
li:hover {
  background: #05c805;
  box-shadow: 1px 1px 1px 1px #4477aa;
}
.navigation_bar {
  font-weight: bold;
  display:table;
  font-size: 200%;
  width:100%;
}

p {
  font-style: italic;
}

.floaty-box {
  background: #225588;
  width: 420px;
  height: 470px;
}

.frame {
  background: #99bbff;
  margin: 10px;
  height: 300px;
  width: 390px;
  padding: 5px;
}

.description {
  text-align: left;
  background: #99bbff;
  margin: 10px;
  padding: 5px;
  height: 120px;
  box-shadow: 2px 2px 4px 3px #003366;
}

.item-info {
  cursor: pointer;
  display:none;
}

#fuzz {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index:100;
  background: black;
  opacity: .6;
  text-align:left;
  display:none;
  cursor: pointer;
}

.large-item-info {
  display:none;
  font-size: 150%;
  position:fixed;
  height: 520px;
  width: 580px;
  z-index: 200;
  border:5px solid #222;
  background: #77aadd;
  top: 25px;
  left: 50px; 
  cursor: pointer;
}

.nav_item {
  color:#ccc;
  display:table-cell;
  background-color: #333;
  cursor:pointer;
  padding:10px;
}

.nav_item:hover {
  background: #222;
  color:#fff;
}

 .category {
  font-weight: bold;
}

proceed, delete, other {
  font-size: 150%;
  visibility: visible;
  display: block;
  font-weight: bold;
  background: #cc0000;
  border-style: solid;
  border-width: 10px;
  border-color: #993333;
  margin: 30px 25%;
}
proceed a:hover {color: #ccc;}
delete a:hover {color: #ccc;}
other a:hover {color: #ccc;}
proceed {background:#33CC33;border-color:#009900}
other {background:#CCCC00;border-color:#999933;}
delete:hover {background: #990000;}
proceed:hover {background: #006600;}
other:hover {background: #666600;}

.field {
  width: 95%;
}

.sticky {
  position:fixed;
  top:0;
}

.entry {
  width: 180px;
}

div.out_of_stock {
  margin: 0 23%;
  background: #fff;
  border-style: solid;
  border-width: 20px;
  border-color: #CC0033;
  font-size: 140%;
  font-weight: bold;
  color: #CC0033;
}

div.out_of_stock a{
  color: #CC0033;
}
div.out_of_stock:hover {
  background: #ccc;
}
div.in_stock {
  background: #fff;
  border-style: solid;
  border-width: 20px;
  border-color: #009966;
  font-size:140%;
  font-weight: bold;
  color: #009966;
  margin: 0 30%;
}
div.in_stock a {
  color: #009966;
}
div.in_stock:hover {
  background: #ccc;
}
hidden {
  display:none;
}
