<div id="how-to-order" class="description" onclick="jQuery(this).hide()">
  <a class="link" style="top:0;left:0;">x</a>
  Once you've finished paying with paypal, click the link you see below to tell us you've finished paying.
  <%= image_tag "how-to-order.png"  %>
</div>
