<div id="how-to-order" class="description" style="background:white" onclick="jQuery(this).hide()">
  <a class="link" style="top:0;left:0;">x</a>
  Once you've completed your payment in paypal, click this link to confirm your payment.
  <%= image_tag "how-to-order.png"  %>
</div>
